.text {
    -fx-font-size:  12 px;
    -fx-font-family: Helvetica;
}
/*MENU*/
.menu-bar {
    -fx-background-color: #27374D;
}
.menu-item {
    -fx-background-color: #27374D;
    -fx-border-color: #27374D;
}
.menu-bar .label{
    -fx-text-fill: white;
    -fx-font-size:  12 px;
}
.blankSpaceBar {
    -fx-background-color: white;
}
/*TAB*/
.tab {
    -fx-background-color: white;
}
.tabTitle{
    -fx-font-size: 23 px;
    -fx-font-weight: bold;
}

.anchorPane{
    -fx-background-color: white;
}
.table-view {
    -fx-background-color: #DDE6ED;
}
.table-view .column-header{
    -fx-background-color: white;
}

/*BUTTON*/
.bottomButtonBar {
    -fx-background-color: white;
}
.button{
    -fx-background-color: #27374D;
    -fx-text-fill: white;
    -fx-border-radius: 5 5 5 5;
}
.button:hover, .button:click{
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-text-fill: black;
    -fx-border-radius: 5 5 5 5;
}
/*QUOTE SETTING*/
.pageTitle .text{
    -fx-font-size: 27 px;
    -fx-fill: white;
}
.anchorPaneTitle{
    -fx-background-color: #27374D;
}